@font-face {
    font-family: "Grotesk";
    src: url("../../fonts/Grotesk/Grotesk.otf");
  }

  @font-face {
    font-family: "Lack";
    src: url("../../fonts/Lack/Lack-Regular.otf");
  }

  @font-face {
    font-family: "Commissioner";
    src: url("../../fonts/Commissioner/Commissioner-BoldItalic.otf");
  }
  
#style-2::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: transparent;
}

#style-2::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #fff;
}

#paragraph a{
    border-bottom: none !important;
  }