@font-face {
    font-family: "Grotesk";
    src: url("../../fonts/Grotesk/Grotesk.otf");
}
@media screen and (max-width: 1600px) {
    .video {
        top: 5%;
    }

    .CALItravel {
        right: 8%;
        bottom: 31%;
        width: 52%;
        height: 5%;
    }

    .China {
        right: 6%;
        bottom: 31%;
        width: 48%;
        height: 5%;
    }
}

/* For Tablets */
@media screen and (min-width: 1800px) {
    .video {
        top: 13%;
        width: 50%;
    }

    .CALItravel {
        right: 17%;
        bottom: 31%;
        width: 44%;
        height: 5%;
    }

    .China {
        right: 6%;
        bottom: 31%;
        width: 47.5%;
        height: 5%;
    }

    
}

.video {
    position: absolute;
    left: 35%;
    right: 0;
    bottom: 0;
    display: block;
}

.video2 {
    width: 50%;
    position: absolute;
    left: 45%;
    right: 0;
    bottom: 35%;
    display: block;
}

.help {
    color: white;
    font-family: "Grotesk";
    text-decoration: none;

    font-size: 7.4em;

    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    left: 37%;
    right: 0;
    bottom: 60%;
    width: 44%;
    height: 5%;

}

.help2 {
    color: white;
    font-family: "Grotesk";
    text-decoration: none;

    font-size: 7em;

    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    left: 0%;
    right: 0;
    bottom: 60%;
    width: 44%;
    height: 5%;

}

.help3 {
    color: white;
    font-family: "Grotesk";
    text-decoration: none;

    font-size: 10em;

    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    left: 45%;
    right: 0;
    bottom: 60%;
    width: 50%;
    height: 5%;

}

.CALItravel {
    font-family: "Lack";
    text-decoration: none;

    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    border: 1px solid #fff;
    border-radius: 15px;
    color: white;
    background-color: transparent;
    transition: 0.3s;
}
.CALItravel:hover {
    background-color: white;
    color: black;
}

.China {
    font-family: "Lack";
    text-decoration: none;

    display: flex;
    position: absolute;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    border: 1px solid #fff;
    border-radius: 15px;
    color: white;
    background-color: transparent;
    transition: 0.3s;
}
.China:hover {
    background-color: white;
    color: black;
}
